<div class="container-fluid" id="mySite">
    <div>
        <div class="homeTitle">
            <h1>EXPLORE</h1>
            <p>follow your curiosity</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2 col-sm-12 col-xs-12">
            <h3 class="text-center aboutMe">Hi, my name is Liu Fan. Here is my little universe to explore my wonders in web development. I love designing various kinds of websites. </h3></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aboutMeImage"><img src="assets/img/uss.jpg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aboutMeImage"><img src="assets/img/family.jpg"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 aboutMeImage"><img src="assets/img/grad.jpg"></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2 col-sm-12 col-xs-12">
            <h3 class="text-center aboutMe">I come from Taiwan and graduated from Nanyang Technological University of Singapore. I am grateful to have a bunch of lovely friends and family around me. I just want to say, "Thank you"</h3></div>
    </div>
</div>