<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" ui-sref="home"><i class="icon ion-plane"></i> FAN</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="#/bakery"" class="navOption">BAKERY </a></li>
                <!--<li role="presentation"><a href="#/todo"" class="navOption"">TO-DO</a></li>-->
                <li role="presentation"><a href="#/login"" class="navOption"">Login</a></li>
                <li role="presentation"><a href="#!/home" class="navOption"">ABOUT</a></li>
            </ul>
        </div>
    </div>
</nav>