<div class="placesPageContent">
    <div class="row">
        <div class="col-md-12">
            <input type="search" placeholder="Search" class="searchBar">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 contentDiv">
            <section>
                <form class="addNewDiv">
                    <div>
                        <p> Location Name:</p>
                        <input class="form-control inputName" type="text">
                    </div>
                    <div>
                        <p>Description: </p>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div>
                        <p>Choose An Image:</p>
                        <input type="file">
                    </div>
                </form>
            </section>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <section class="resultDiv">
                <div class="row resultItem">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="resultImage"><img class="img-rounded img-responsive" src="assets/img/desk.jpg"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="resultContent">
                            <h4>Heading </h4>
                            <p class="text-justify line-clamp"><strong>Lorem Ipsum</strong> is simply dumm<strong>orem Ipsumdummorem Ipsum is</strong> </p>
                        </div>
                    </div>
                </div>
                <div class="row resultItem">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="resultImage"><img class="img-rounded img-responsive" src="assets/img/explore.jpg"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="resultContent">
                            <h4>Heading </h4>
                            <p class="text-justify line-clamp"><strong>Lorem Ipsum</strong> is simply dumm<strong>orem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum is</strong>                                        </p>
                        </div>
                    </div>
                </div>
                <div class="row resultItem">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="resultImage"><img class="img-rounded img-responsive" src="assets/img/explore.jpg"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="resultContent">
                            <h4>Heading </h4>
                            <p class="text-justify line-clamp"><strong>Lorem Ipsum</strong> is simply dumm<strong>orem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum is</strong>                                        </p>
                        </div>
                    </div>
                </div>
                <div class="row resultItem">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="resultImage"><img class="img-rounded img-responsive" src="assets/img/explore.jpg"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="resultContent">
                            <h4>Heading </h4>
                            <p class="text-justify line-clamp"><strong>Lorem Ipsum</strong> is simply dumm<strong>orem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum iLorem Ipsum is simply dummorem Ipsumdummorem Ipsum is</strong>                                        </p>
                        </div>
                    </div>
                </div>
                <div class="row resultItem">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="resultImage"><img class="img-rounded img-responsive" src="assets/img/building.jpg"></div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="resultContent">
                            <h4>Heading </h4>
                            <p class="text-justify line-clamp"><strong>Lorem Ipsum</strong> is simply dumm<strong>orem Ipsumdummorem Ipsum is Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i Lorem Ipsum is simply dummorem Ipsumdummorem Ipsum i</strong></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>